# Git
.git
.gitignore

# DIR
data-sets
aim-logs
docker-files
library
journal
media
models
pickled-data
scripts
tensorboard-logs
venv
tests

# Misc
LICENSE
*.md

# Python
.pytest_cache
poetry.lock
pyproject.toml