# Git
.git
.gitignore

# DIR
data-sets
docker-files
library
journal
media
models
pickled-data
scripts
tensorboard-logs
venv
tests
logs
runs

# Misc
LICENSE
*.md
model_settings.csv

# Python
.pytest_cache
poetry.lock
pyproject.toml/model_settings.csv
