# Python
venv
__pycache__/
*.py[cod]
*$py.class
jupyter-notebooks/.ipynb_checkpoints/
**/.pytest_cache

# Data
datasets
models
model-checkpoints
.aim
aim-logs
logs
long-audio
runs

# Misc
aspit002_AI_coursework_2
install-library.sh
