absl-py==1.0.0; python_version >= "3.6"
aim==3.6.0; python_full_version >= "3.6.0"
aimrecords==0.0.7; python_full_version >= "3.6.0"
aimrocks==0.0.10; python_full_version >= "3.6.0"
aiofiles==0.8.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0"
alembic==1.7.6; python_version >= "3.6" and python_full_version >= "3.6.0"
appdirs==1.4.4; python_version >= "3.6"
appnope==0.1.2; platform_system == "Darwin" and python_version >= "3.8" and sys_platform == "darwin"
argon2-cffi-bindings==21.2.0; python_version >= "3.6"
argon2-cffi==21.3.0; python_version >= "3.6"
asgiref==3.5.0; python_version >= "3.7" and python_full_version >= "3.6.0"
asttokens==2.0.5; python_version >= "3.8"
astunparse==1.6.3
async-exit-stack==1.0.1; python_version >= "3.5" and python_full_version >= "3.6.0"
async-generator==1.10; python_version >= "3.5" and python_full_version >= "3.6.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
audioread==2.1.9; python_version >= "3.6"
backcall==0.2.0; python_version >= "3.8"
base58==2.0.1; python_version >= "3.5" and python_full_version >= "3.6.0"
bayesian-optimization==1.2.0
black==22.1.0; python_full_version >= "3.6.2" and python_version >= "3.8"
bleach==4.1.0; python_version >= "3.7"
cachetools==5.0.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0; python_version >= "3.7" and python_full_version >= "3.6.1" and implementation_name == "pypy"
charset-normalizer==2.0.11; python_full_version >= "3.6.0" and python_version >= "3.6"
click==8.0.3; python_version >= "3.8" and python_full_version >= "3.6.2"
colorama==0.4.4; python_full_version >= "3.6.0" and platform_system == "Windows" and python_version >= "3.6" and (python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.5.0")
cryptography==36.0.1; python_version >= "3.6" and python_full_version >= "3.6.0"
cycler==0.11.0; python_version >= "3.7"
debugpy==1.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
decorator==5.1.1; python_version >= "3.8"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
entrypoints==0.4; python_full_version >= "3.6.1" and python_version >= "3.7"
executing==0.8.2; python_version >= "3.8"
fastapi==0.67.0; python_version >= "3.6" and python_full_version >= "3.6.0"
filelock==3.6.0; python_version >= "3.7" and python_full_version >= "3.6.0"
flatbuffers==2.0
fonttools==4.29.1; python_version >= "3.7"
gast==0.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
gitdb==4.0.9; python_version >= "3.7" and python_full_version >= "3.6.0"
gitpython==3.1.27; python_version >= "3.7" and python_full_version >= "3.6.0"
google-auth-oauthlib==0.4.6; python_version >= "3.6"
google-auth==2.6.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
google-pasta==0.2.0
greenlet==1.1.2; python_version >= "3.6" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_full_version >= "3.6.0"
grpcio==1.42.0; python_version >= "3.6" and python_full_version >= "3.6.0"
h11==0.13.0; python_version >= "3.7" and python_full_version >= "3.6.0"
h5py==3.6.0; python_version >= "3.7"
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
imageio==2.19.0; python_version >= "3.7"
importlib-metadata==4.10.1; python_version >= "3.7" and python_full_version >= "3.6.0" and python_version < "3.9"
importlib-resources==5.4.0; python_version >= "3.7" and python_full_version >= "3.6.0" and python_version < "3.9"
ipykernel==6.8.0; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==8.0.1; python_version >= "3.8"
ipywidgets==7.6.5
jedi==0.18.1; python_version >= "3.8"
jinja2==3.0.3; python_version >= "3.7" and python_full_version >= "3.6.0"
joblib==1.1.0; python_version >= "3.7"
jsonschema==4.4.0; python_version >= "3.7"
jupyter-client==7.1.2; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter-console==6.4.0; python_version >= "3.6"
jupyter-core==4.9.1; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyter==1.0.0
jupyterlab-pygments==0.1.2; python_version >= "3.7"
jupyterlab-widgets==1.0.2; python_version >= "3.6"
kapre==0.3.7
keras-preprocessing==1.1.2
keras==2.7.0
kiwisolver==1.3.2; python_version >= "3.7"
libclang==13.0.0
librosa==0.8.1; python_version >= "3.6"
llvmlite==0.34.0; python_version >= "3.6"
mako==1.1.6; python_version >= "3.6" and python_full_version >= "3.6.0"
markdown==3.3.6; python_version >= "3.6"
markupsafe==2.0.1; python_version >= "3.7" and python_full_version >= "3.6.0"
matplotlib-inline==0.1.3; python_version >= "3.8"
matplotlib==3.5.1; python_version >= "3.7"
mistune==0.8.4; python_version >= "3.7"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.8"
nbclient==0.5.10; python_full_version >= "3.7.0" and python_version >= "3.7"
nbconvert==6.4.1; python_version >= "3.7"
nbformat==5.1.3; python_full_version >= "3.7.0" and python_version >= "3.7"
nest-asyncio==1.5.4; python_full_version >= "3.7.0" and python_version >= "3.7"
networkx==2.8; python_version >= "3.8"
notebook==6.4.8; python_version >= "3.6"
numba==0.51.2; python_version >= "3.6"
numpy==1.22.1; python_version >= "3.8"
oauthlib==3.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
opencv-python==4.5.5.64; python_version >= "3.6"
opt-einsum==3.3.0; python_version >= "3.5"
packaging==21.3; python_version >= "3.7" and python_full_version >= "3.6.0"
pandas==1.4.1; python_version >= "3.8"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
parso==0.8.3; python_version >= "3.8"
pathspec==0.9.0; python_full_version >= "3.6.2" and python_version >= "3.8"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.8"
pickleshare==0.7.5; python_version >= "3.8"
pillow==9.0.1; python_version >= "3.7" and python_full_version >= "3.6.0"
platformdirs==2.4.1; python_full_version >= "3.6.2" and python_version >= "3.8"
pooch==1.6.0; python_version >= "3.6"
prometheus-client==0.13.1; python_version >= "3.6"
prompt-toolkit==3.0.26; python_full_version >= "3.6.2" and python_version >= "3.8"
protobuf==3.19.4; python_version >= "3.6" and python_full_version >= "3.6.0"
psutil==5.9.0; python_full_version >= "3.6.0"
ptyprocess==0.7.0; os_name != "nt" and python_version >= "3.8" and sys_platform != "win32"
pure-eval==0.2.2; python_version >= "3.8"
py3nvml==0.2.7; python_full_version >= "3.6.0"
py==1.11.0; implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.6.1"
pyasn1-modules==0.2.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pyasn1==0.4.8; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") or python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
pycparser==2.21; python_version >= "3.6" and python_full_version >= "3.6.0"
pydantic==1.9.0; python_version >= "3.6" and python_full_version >= "3.6.1"
pygments==2.11.2; python_version >= "3.8"
pyparsing==3.0.7; python_version >= "3.7" and python_full_version >= "3.6.0"
pyrsistent==0.18.1; python_version >= "3.7"
python-dateutil==2.8.2; python_full_version >= "3.6.1" and python_version >= "3.8"
pytz==2021.3; python_version >= "3.8" and python_full_version >= "3.6.0"
pywavelets==1.3.0; python_version >= "3.7"
pywin32==303; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.7" and python_full_version >= "3.6.1"
pywinpty==2.0.1; os_name == "nt" and python_version >= "3.7"
pyyaml==6.0; python_version >= "3.6"
pyzmq==22.3.0; python_full_version >= "3.6.1" and python_version >= "3.7"
qtconsole==5.2.2; python_version >= "3.6"
qtpy==2.0.1; python_version >= "3.6"
requests-oauthlib==1.3.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
requests==2.27.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
resampy==0.2.2; python_version >= "3.6"
restrictedpython==5.2; python_full_version >= "3.6.0" and python_version < "3.11"
rsa==4.8; python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
scikit-image==0.19.2; python_version >= "3.7"
scikit-learn==1.0.2; python_version >= "3.7"
scikit-maad==1.3; python_version >= "3.6"
scipy==1.7.3; python_version >= "3.7" and python_version < "3.11"
send2trash==1.8.0; python_version >= "3.6"
setuptools-scm==6.4.2; python_version >= "3.7"
six==1.16.0; python_full_version >= "3.6.0" and python_version >= "3.6" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6") and (python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7")
smmap==5.0.0; python_version >= "3.7" and python_full_version >= "3.6.0"
soundfile==0.10.3.post1; python_version >= "3.6"
sqlalchemy==1.4.31; python_version >= "3.6" and python_full_version >= "3.6.0"
stack-data==0.1.4; python_version >= "3.8"
starlette==0.14.2; python_version >= "3.6" and python_full_version >= "3.6.0"
tensorboard-data-server==0.6.1; python_version >= "3.6"
tensorboard-plugin-wit==1.8.1; python_version >= "3.6"
tensorboard==2.8.0; python_version >= "3.6"
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1; python_version >= "3.7" and python_version < "3.11"
tensorflow==2.7.0
termcolor==1.1.0
terminado==0.13.1; python_version >= "3.7"
testpath==0.5.0; python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.7"
tifffile==2022.4.28; python_version >= "3.8"
tomli==2.0.0; python_full_version >= "3.6.2" and python_version >= "3.8"
tornado==6.1; python_full_version >= "3.6.1" and python_version >= "3.7"
tqdm==4.62.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
traitlets==5.1.1; python_full_version >= "3.7.0" and python_version >= "3.8"
typing-extensions==4.0.1; python_version >= "3.8" and python_full_version >= "3.6.2" and python_version < "3.10"
urllib3==1.26.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
uvicorn==0.17.5; python_version >= "3.7" and python_full_version >= "3.6.0"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.8"
webencodings==0.5.1; python_version >= "3.7"
werkzeug==2.0.2; python_version >= "3.6"
widgetsnbextension==3.5.2
wrapt==1.13.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
xmltodict==0.12.0; python_full_version >= "3.6.0"
zipp==3.7.0; python_version >= "3.7" and python_full_version >= "3.6.0" and python_version < "3.9"
